<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/createClaim.css}">
    <link rel="stylesheet" th:href="@{/css/Draft.css}">
</head>
<body>
<div class="header">
    <div class="header-left">
        <img th:src="@{/img/FPT_logo_2010.svg.png}" alt="" style="width: 80px; height: 50px;">
    </div>
    <div class="header-right">
        <a href="/logout" id="logout">
            <i class='fas fa-sign-out-alt' style='font-size:36px'></i>
        </a>
    </div>
</div>
<div class="page-wrapper chiller-theme toggled">
    <div>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">Claim Request</a>
                    <div id="close-sidebar">
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" th:src="@{/img/User_icon_2.svg.png}"/>
                    </div>
                    <div class="user-info">
                      <span class="user-name" id="infoStaff">
                      </span>
                        <span class="user-role">Staff</span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li>
                            <a href="#" id="link-home">
                                <i class="fa fa-home"></i>
                                <span>Home</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
        </nav>
    </div>

    <div class="main">
        <div class="main-content">
            <table class="table" id="table">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Project Name</th>
                    <th>Total working Hour</th>
                    <th>Remark</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody id="claimTable">

                </tbody>
            </table>
            <button class="btn btn-primary" id="btn-download">Download Claims</button>
        </div>

    </div>
</div>
<script th:src="@{/js/FinancePaid.js}"></script>

</body>
</html>